a {
color: black !important;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder !important;
}

h2 {
  text-align: center;
  padding: 15px;

}
.beerheader {
  text-align: left;
}

h3 {
  text-align: center;
  margin-top: 20px;
  padding: 35px;
  font-size: 30px;
  font-weight: bolder;
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
}
.homebutton {
  top: 0;
  left: 0;
  position: fixed;
  color: black !important;
}

h5 {
  text-align: center;
}

strong {
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 5px;
  text-align: center;
}

#hidebox {
  color: yellow;
}

#displaycontainer {
  background-color: rgba(126, 128, 0, 0.35);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 35px;
  margin: 45px;
 
  box-shadow: 15px 15px 12px rgb(255, 255, 255, 0.35);
  border-radius: 20px;
  border-width: 3px;
  border-style: inset;
  border-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding: 35px;
  text-align: center; 
  overflow: auto;
  height: 50vh;
  
}
#response-display {
  background-color: rgba(126, 128, 0, 0.35);
  color:  yellow !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 35px;
  margin: 45px;
  box-shadow: 15px 15px 12px rgb(255, 255, 255, 0.35);
  border-radius: 20px;
  border-width: 3px;
  border-style: inset;
  border-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding: 35px;
  text-align: center; background-color: rgba(126, 128, 0, 0.35);
  overflow: auto;
  height: 50vh;
  
}

option {
  margin: 35px;
  font-size: 20px;
  font-weight: bolder;
  color: black;
font-family: 'Courier New', Courier, monospace;
  box-shadow: 15px 15px 15px black;
  border-radius: 15px;
  border-style: groove;
  border-width: 2px;
  text-align: center;
 } 

select {
  margin: 30px;
  font-size: 20px;
  font-weight: bolder;
  color: black;
font-family: 'Courier New', Courier, monospace;
  box-shadow: 15px 15px 15px black;
  border-radius: 15px;
  border-style: groove;
  border-width: 2px;
  text-align: center;
  cursor: pointer;
}




#surveybox {
  background-color: rgba(126, 128, 0, 0.35);
  color: yellow;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin: 45px;
  box-shadow: 15px 15px 12px rgb(255, 255, 255, 0.35);
  border-radius: 20px;
  border-width: 3px;
  border-style: inset;
  border-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding: 35px;
  text-align: center;
 
}

img {
  margin: 10px;
  box-shadow: 15px 15px 15px black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-style: inherit;
}

.listitems {
  padding: 15px;
  
}
hr {
  height: 5px !important;
}
input {
  margin: 35px;
  font-size: 17px;
  font-weight: bold;
  padding: 25px;
  box-shadow: 15px 15px 15px black;
  border-radius: 20px;
  width: auto;
}
.anyClass {
  height:500px;
  overflow-y: scroll;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.475);

}

#surveysubmit {
  background: url("../images/beer-flowing.gif");
  border: 10px double black;
  border-radius: 18px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: yellow;
  font-size: 35px;
  font-weight: bolder;
  color: black;
  box-shadow: 10px 10px 20px 10px black;
  cursor: pointer;
  text-shadow: 4px 2px;
  text-align: center;
  margin-bottom: 10px;
  background-attachment: fixed;
  /* background-repeat: round; */
}

#surveysubmit:hover {
  color: red;
}


#surveysubmit:active {
  background-color: red; /* When the button is clicked */
  box-shadow: 0 7px green;
  transform: translateY(4px);
}

.btn-group button {
  float: left;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
#surveydisplay {
  line-height: 10px;
  color: yellow;
}

#survey, #redosurvey, #beerButton, #found {
  border-width: 2px;
  font-size: 25px;
  color: yellow;
  text-align: center;
  cursor: pointer;
 
  font-weight: bolder;
  padding: 5px;
  margin: 0px 30px 30px 0px;
  display: inline-block;
  box-shadow: 15px 15px 15px black;
  border: 3px black solid;
  border-radius: 7px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  width: auto;
  height: auto;
  background: url("../images/beer-side-flowing.gif");
  background-attachment: inherit;
  
}


#survey:active {
  background-color: red; /* When the button is clicked */
  box-shadow: 0 7px green;
  transform: translateY(4px);
}

div {
  display: inline-block;
  font-weight: bolder;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.jumbotron  {
  box-shadow: 15px 15px 15px black;
  border: 10px 10px 10px black;
}

header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 24px;
  padding: 15px;
  font-weight: bolder;
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  text-align: center;
  display: inline-block;
  margin: auto;
  color: black;
}

#container {
  text-align: center;
  display: inline-block;
  margin: auto;
  color: yellow;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

h1 {
  text-align: center; 
  font-weight: bolder !important;
}

body {
  text-align: center;
  font-size: 30 px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  /* min-width: 100%;
  min-height: 100%; */
  top: 0;
  left: 0;
  height: 100vh !important;

  background-image: url("../images/Daybrew.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed;
  object-fit: cover;
  
}

#cheers {
  margin-top: 20px;
  background-color: rgba(126, 128, 0, 0.35);
  border: 2px solid black;
  color: blue;
  font-weight: bold !important;
}

#beermap {
  margin-top: 20px;
  background-color: rgba(126, 128, 0, 0.35);
  border: 2px solid black;
  color: blue;
  font-weight: bold !important;
  height: 850px;
}

#restext {
  font-size: 32px !important
}

.lead {
    font-weight: bold !important;
}

footer {
  text-align: center;
  color: yellow;
  border-top: 1px solid black;
  background: transparent;
  font-weight: bolder;
  margin: auto;
}

.footer {
  position: relative;
  left: 0;
  bottom: -500;
  width: 100%;
}

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.wrapper {
  width: 1024px;
  margin: 40px auto;
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #626a69;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

