
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder !important;
}

h2 {
  text-align: center;
  padding: 15px;

}

h3 {
  text-align: center;
  margin-top: 20px;
  padding: 35px;
  font-size: 30px;
  
}
h5 {
  text-align: center;
}

strong {
  text-align: center;
}

option {
  margin: 35px;
  font-size: 20px;
  font-weight: bolder;
  color: black;
font-family: 'Courier New', Courier, monospace;
  box-shadow: 15px 15px 15px black;
  border-radius: 15px;
  border-style: groove;
  border-width: 2px;
  text-align: center;
}

select {
  margin: 30px;
  font-size: 20px;
  font-weight: bolder;
  color: black;
font-family: 'Courier New', Courier, monospace;
  box-shadow: 15px 15px 15px black;
  border-radius: 15px;
  border-style: groove;
  border-width: 2px;
  text-align: center;
}



#surveybox {
  background-color: rgba(126, 128, 0, 0.582);
  color: rgb(98, 0, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin: 45px;
  box-shadow: 15px 15px 12px red;
  border-radius: 20px;
  border-width: 3px;
  border-style: inset;
  border-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding: 35px;
  text-align: center;
 
}

img {
  margin: 10px;
  box-shadow: 15px 15px 15px black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-style: inherit;
}

input {
  margin: 35px;
  font-size: 17px;
  font-weight: bold;
  padding: 25px;
  box-shadow: 15px 15px 15px black;
  border-radius: 20px;
}
.anyClass {
  height:500px;
  overflow-y: scroll;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.475);

}

#submit {
  border-color: yellow;
  background: url("../images/beer-flowing.gif");
  border-style: solid;
  border-radius: 7px;
  border-width: 3px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 35px;
  font-weight: bolder;
  color: yellow;
  box-shadow: 15px 15px 15px black;
  cursor: pointer;
  text-shadow: 4px 2px black;
  text-align: center;
  margin-bottom: 10px;
  background-attachment: fixed;
  background-repeat: round;
}


#submit:active {
  background-color: red; /* When the button is clicked */
  box-shadow: 0 7px green;
  transform: translateY(4px);
}

.btn-group button {
  float: left;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

#survey, #redosurvey, #beerButton, #found {
  border-width: 2px;
  font-size: 25px;
  color: yellow;
  text-align: center;
  cursor: pointer;
  /* background-color: rgb(4, 40, 241); */
  font-weight: bolder;
  padding: 5px;
  margin: 0px 30px 30px 0px;
  display: inline-block;
  box-shadow: 15px 15px 15px black;
  border-color: black;
  border-style: solid;
  border-radius: 7px;
  border-width: 3px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  width: auto;
  height: auto;
  background: url("../images/beer-flowing.gif");
}


#survey:active {
  background-color: red; /* When the button is clicked */
  box-shadow: 0 7px green;
  transform: translateY(4px);
}

div {
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  /* color: white; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.jumbotron  {
  box-shadow: 15px 15px 15px black;
  border: 10px 10px 10px black;
}

header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 24px;
  padding: 15px;
  font-weight: bolder;
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  text-align: center;
  display: inline-block;
  margin: auto;
  color: black;
}

#container {
  text-align: center;
  display: inline-block;
  margin: auto;
  color: yellow;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}


/* body {
  text-align: center;
  font-size: 30 px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
 
  background: url("../images/Daybrew.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */


#boxsurvey {
  background-color: rgba(255, 113, 113, 0.24);
  width: 70%;
}

h1 {
  text-align: center; 
  font-weight: bolder !important;
}

body {
  text-align: center;
  font-size: 30 px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  /* min-width: 100%;
  min-height: 100%; */
  top: 0;
  left: 0;
  height: 100vh !important;

  background-image: url("../images/Daybrew.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed;
  object-fit: cover;
  
}

#cheers {
  margin-top: 20px;
  background-color: rgba(255, 194, 40, 0.434);
  border: 2px solid black;
  color: blue;
  font-weight: bold !important;
}

#beermap {
  margin-top: 20px;
  background-color: rgba(255, 194, 40, 0.413);
  border: 2px solid black;
  color: blue;
  font-weight: bold !important;
  height: 850px;
}

#restext {
  font-size: 32px !important
}

.lead {
    font-weight: bold !important;
}

footer {
  text-align: center;
  color: yellow;
  border-top: 1px solid black;
  background: transparent;
  font-weight: bolder;
  margin: auto;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.wrapper {
  width: 1024px;
  margin: 40px auto;
}


/* @media only screen and (max-width: 980px) {
  body {
    max-width: 100%;
    height: auto;
  }
  .wrapper {
    width: 800px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 100%;
    height: auto;
  }
  .wrapper {
    width: 800px;
  }
}

@media only screen and (max-width: 640px) {
  body {
    max-width: 100%;
    height: auto;
  }
  header {
    position: static;
  }
  .wrapper {
    width: 600px;
  }
} */
